.elements__button-like {
  background-image: url(../../../images/likeDisabled.svg);
  background-color: #fff;
  width: 22px;
  min-height: 19px;
  border: 0;
  margin: 5px 0 0 0;
  padding: 0;
  transition-duration: .3s;
  background-repeat: no-repeat;
}

.elements__button-like:hover {
  opacity: .5;
  cursor: pointer;
}

.elements__button-like:active {
  opacity: 100;
  background-image: url(../../../images/likeAktive.svg);
}