.popup__close {
  background-image: url(../__close/CloseIcon.svg);
  min-width: 32px;
  min-height: 32px;
  background-size: auto;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  transition-duration: .2s;
  position: absolute;
  right: -38px;
  top: -38px; 
}

.popup__close:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .popup__close {
    min-width: 20px;
    min-height: 20px;
    background-size: cover;
    top: -38px;
    right: 0;
  }
}