.profile__avatar{
  /* background-image: url(../../../images/Kusto.jpg); */
  width: 120px;
  height: 120px;
  background-size: cover;
  border-radius: 60px;
}

@media screen and (max-width: 982px) {
  .profile__avatar {
    margin: auto;
  }
}
