.profile__job {
  font-family: 'inter', 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin-top: 16px;
  margin-bottom: 0;
  width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 982px) {
  .profile__job {
    margin: 9px auto 0 auto;
    width: 189px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}